#widget-container {
    position: relative;
    width: 1200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 1; /* Opacidad inicial */
    transition: opacity 1s ease; /* Transición suave para el fade */
}

#walking-person {
    position: absolute;
    left: 0;
    transition: left 0.5s ease;
}

#progress-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 30px; /* Tamaño más grande */
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 2px black; /* Contorno negro */
    text-stroke: 2px black; /* Contorno negro (para compatibilidad) */
}