#widget-container {
    position: relative;
    width: 1200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 1; /* Opacidad inicial */
    transition: opacity 1s ease; /* Transición suave para el fade */
}

#walking-person {
    position: absolute;
    left: 0;
    transition: left 0.5s ease;
}

#progress-text {
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
    font-size: 30px; /* Tamaño más grande */
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px black; /* Sombra original */
    animation: pulse 2s infinite ease-in-out; /* Animación de pulsar */
}

/* Definición de la animación */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    }
    100% {
        transform: scale(1);
    }
}
